:root{
    --primary-color:#ee4b2b;
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --star-gold:rgba(253,207,70,1);
    --border-color:#DBDBDB;
    --navbar-height:34px;
    --header-height:120px;
    --header-with-search-height:calc(var(--header-height) - var(--navbar-height))
}
*{
    box-sizing: inherit;
    /* ke thua cho tat ca */
}
html{
    /* hack 1rem=10px */
    font-size:62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin:0 auto;
}
.grid__full-width{
    width: 100%;
}
.grid__row{
    display:flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
/*Test*/
.gird-column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.gird-column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}

.gird-column-2-4{
    display: inline-flex;
    padding-left: 5px;
    padding-right: 5px;
    width: 19.8%;
}


/* animation */
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes growth{
    from{
        transform: scale(var(--growth-from))
    }
    to{
        transform: scale(var(--growth-to))
    }
}
/*modal signal */
.modollogin,
.modol{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation:fadeIn linear 0.2s;
    display:none;
}
.modollogin.open,
.modol.open{
    display:flex;
}

.modol__overlay{
    position:absolute;
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
}

.modol__body{
    --growth-from:0.7;
    --growth-to:1;
    z-index: 1;
    margin: auto;
    position: relative;
    animation:growth linear 0.2s;
}
.btn{
    min-width: 142px;
    min-height: 35px;
    text-decoration: none;
    border:none ;
    border-radius: 2px;
    font-size:1.5rem;
    font-weight: 300;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    display:inline-flex;
    justify-content:center;
    align-items: center;
    line-height: 1.6rem;
}

.btn.btn--white{
    background-color:var(--white-color);
}

.btn.btn--normal:hover{
    background-color:rgba(0,0,0,0.25);    
}
.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);
}
.btn.btn--size-s{
    height:32px;
    font-size: 12px;
    padding: 0 8px;
}
.btn.btn--disabled{
    cursor:default;
    color:#949494;
    /* filter: brightness(); */
    background-color: #c3c3c3;
}

/*Selection*/
.select-input{
    padding:0 12px;
    border-radius: 2px;
    height:34px;
    min-width: 150px;
    background-color:var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

/*pagination*/

.pagination{
    display: flex;
    list-style: none;
    justify-content:center;
    align-items: center;
    padding: 0;
}

.pagination-item{
    margin: 0 15px;
}

.pagination-item__link{
    --height:30px;
    display:block;
    text-decoration: none;
    font-size: 2rem;
    color:#939393;
    min-width: 40px;
    height:var(--height);
    line-height: var(--height);
    text-align: center;
    border-radius: 2px;
}

.pagination-item--active .pagination-item__link{
    background-color: var(--primary-color);
    color:var(--white-color)
}

.pagination-item--active .pagination-item__link:hover{
    opacity: 90%;
}
